<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Multiple Images</title>
    <style>
        .file-input-container {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <form id="uploadForm" enctype="multipart/form-data">
        <div id="fileInputsContainer">
            <div class="file-input-container">
                <input type="file" name="roomImages">
            </div>
        </div>
        <button type="button" id="addFileInput">Tambah Gambar</button>
        <input type="hidden" name="room_id" value="1">
        <button type="submit">Upload</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/upload.js"></script>
</body>
</html>
